.footer .container__big {
  background-color: #000000;
}
.footer .container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  display: flex;
}
.footer li {
  margin-right: 20.32px;
}
.footer li:last-child {
  margin-right: 0;
}
