@font-face {
  font-family: "Opensans";
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url("../font/opensans-regular-webfont.woff"),
    url("../font/opensans-regular-webfont.woff2");
}

@font-face {
  font-family: "Opensans";
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url("../font/opensans-bold-webfont.woff"),
    url("../font/opensans-bold-webfont.woff2");
}

@font-face {
  font-family: "Opensans";
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url("../font/opensans-italic-webfont.woff"),
    url("../font/opensans-italic-webfont.woff2");
}

@font-face {
  font-family: "Opensans";
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url("../font/opensans-semibold-webfont.woff"),
    url("../font/opensans-semibold-webfont.woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Opensans", sans-serif;
  background-color: #ffffff;
}

.container__big {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1684px;
  margin: 0 auto;
  padding: 0 40px;
}

/* header ================================*/
.header {
  position: relative;
  z-index: 5;
}
.header__top {
  display: flex;
  flex-direction: row;
}
.header__top .container__big {
  width: 100%;
  background-color: #000000;
}
.header__bottom .container__big {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__burger {
  display: none;
}
.header__logo {
  display: inline-block;
  margin-right: 176px;
  outline: none;
}

.header__top .container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.header__nav {
  max-width: 1252px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.header__list-top {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 4px;
}

.header__point-top {
  padding: 2px 6px 8px 6px;
  font-style: normal;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  transition: color 0.3s ease-in;
}
/*
.header__point-top:focus {
  padding: 2px 6px 8px 6px;
  background-color: #7943a4;
  color: #FFFFFF;
  border: none;
}
*/
.header__point-top:hover {
  color: #c283f3;
}
.header__point-top:active {
  color: #7943a4;
}
.header__item-top {
  min-width: 50px;
  margin-right: 52px;
}
.header__come {
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  transition: color 0.3s ease-in;
}
.header__come::before {
  position: absolute;
  top: 1px;
  left: -20px;
  content: url("../img/arrow.svg");
}
.header__come:hover {
  color: #c283f3;
}
.header__come:active {
  color: #9d5cd0;
}
.header__come:hover:before {
  position: absolute;
  top: 1px;
  left: -25px;
  content: url("../img/arrow-hover.svg");
}
.header__come:active:before {
  position: absolute;
  top: 1px;
  left: -25px;
  content: url("../img/arrow-active.svg");
}

.header__top .header__search {
  display: none;
}
.header__bottom .container {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 4px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.header__list {
  max-width: 1035px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 90px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.header__item:last-child {
  margin-right: 0;
}
.header__search {
  position: relative;
  height: 24px;
  padding-top: 3px;
}
.header__search-btn {
  position: absolute;
  top: 5px;
  left: -33px;
  height: 22px;
  background-color: inherit;
  border: none;
}

.header__search-text {
  outline: none;
  width: 220px;
  height: 22px;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  background-color: inherit;
  transition: border-bottom 0.3s ease-in;
}
.header__search-text:hover {
  border-bottom: 1px solid #c283f3;
}
.header__search-text:active {
  border-bottom: 1px solid #7943a4;
}

/*form ================================*/
/*форма входа*/
.header__form-nav {
  position: relative;
}

#login-button {
  cursor: pointer;
}

/* Login container */
#container {
  z-index: 15;
  position: absolute;
  top: -3px;
  right: -4px;

  margin: auto;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  background: rgb(153, 150, 150);

  display: none;
}

.header__form-come .close-btn {
  position: absolute;
  cursor: pointer;

  line-height: 18px;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.2;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__form-come .close-btn:hover {
  opacity: 0.5;
}

/* Heading */
.header__form-come h2 {
  display: block;

  position: relative;
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
  color: #fff;
}

/* Inputs */
.header__form-come a,
.header__form-come input {
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #000;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3, 3, 3, 0.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__form-come input:focus {
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3, 3, 3, 0.18);
}

/* Placeholders */
::-webkit-input-placeholder {
  color: #ffffff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
:-ms-input-placeholder {
  color: #ffffff;
}

/* Link */
.header__form-come a {
  text-align: center;
  padding: 4px 8px;
  background: rgba(107, 255, 3, 0.3);
}

.header__form-come a:hover {
  opacity: 0.7;
}

#remember-container {
  position: relative;
  margin: -5px 20px;
}

.header__form-come .checkbox {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 4px;
  background: rgba(3, 3, 3, 0.2);
  display: inline-block;
  width: 16px;
  height: 15px;
}

.header__form-come .checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.header__form-come .checkbox:checked {
  background: rgba(3, 3, 3, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px 12px rgba(0, 0, 0, 0.05),
    inset 15px 10px 12px rgba(255, 255, 255, 0.5);
  color: #fff;
}

.header__form-come .checkbox:checked:after {
  content: "\2714";
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #fff;
}

#remember {
  position: absolute;
  font-size: 13px;
  font-family: "Hind", sans-serif;
  color: #000;
  top: 7px;
  left: 20px;
}

#forgotten {
  position: absolute;
  font-size: 12px;
  font-family: "Hind", sans-serif;
  color: #000;
  right: 0px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#forgotten:hover {
  color: rgba(255, 255, 255, 0.6);
}

#forgotten-container {
  z-index: 15;
  position: absolute;
  top: -3px;
  right: -4px;

  margin: auto;
  width: 260px;
  height: 180px;
  border-radius: 10px;
  background: rgb(153, 150, 150);

  display: none;
}

.header__form-come .orange-btn {
  background: rgba(87, 198, 255, 0.5);
} /*форма входа*/

/*choices ========================*/
/*селекты*/

.choices[data-type*="select-one"]:after {
  display: none;
}

.choices__inner {
  padding: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background-image: url("../img/select-v.svg");
  background-repeat: no-repeat;
  background-position: 100% 17%;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease-in;
}
.choices__inner:hover {
  background-image: url("../img/select-vhover.svg");
  background-repeat: no-repeat;
  background-position: 100% 17%;
  color: #9d5cd0;
}
.is-open .choices__inner {
  background-image: url("../img/select-^.svg");
  background-repeat: no-repeat;
  background-position: 100% 22%;
  color: #7943a4;
}

.choices__list--dropdown {
  padding: 38px 17px 38px 38px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
}

.choices__list--dropdown .choices__list {
  width: 241px;
  height: 220px;
  overflow: hidden;
  overflow-y: auto;
}
.choices__list--single {
  padding: 0 20px 0 0;
}

.choices__list--dropdown .choices__item {
  width: 220px;
  height: 40px;
  margin: 2px;

  margin-bottom: 20px;
  padding-right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background-color: transparent;
  outline: 2px solid transparent;
  transition: outline 0.3s ease-in;
}
.choices__list--dropdown .choices__item:hover {
  outline: 2px solid #9d5cd0;
}
.choices__list--dropdown .choices__item:active {
  background-color: rgba(194, 131, 243, 0.4);

  outline: 2px solid #d1a9f0;
}
/*селекты*/
/*==================================================*/
/*фон cелектов*/
.is-focused .choices__list--dropdown .choices__item {
  background-color: transparent;
}
.choices__item[data-value="2"] {
  background-image: url("../img/choicesItem1.jpg");
  background-size: cover;
}
.choices__item[data-value="3"] {
  background-image: url("../img/choicesItem2.jpg");
  background-size: cover;
}
.choices__item[data-value="4"] {
  background-image: url("../img/choicesItem3.jpg");
  background-size: cover;
}
.choices__item[data-value="5"] {
  background-image: url("../img/choicesItem5.jpg");
  background-size: cover;
}
.choices__item[data-value="6"] {
  background-image: url("../img/choicesItem8.jpg");
  background-size: cover;
}
.choices__item[data-value="7"] {
  background-image: url("../img/choicesItem6.jpg");
  background-size: cover;
}
.choices__item[data-value="8"] {
  background-image: url("../img/choicesItem7.jpg");
  background-size: cover;
}
.choices__item[data-value="9"] {
  background-image: url("../img/choicesItem4.jpg");
  background-size: cover;
}
.choices__item--selectable[data-custom-properties] {
  background-image: none;
} /*фон*/
/*==================================================*/
/*скрол*/
.simplebar-track {
  max-width: 2px;
  background-color: #000;
}
.simplebar-vertical .simplebar-scrollbar {
  width: 2px;

  background-color: #ffffff;
}
/*========================================================*/

/*hero =================================================*/
.hero {
  z-index: 5;
}
.hero .container__big {
  position: relative;
  background-color: transparent;
}
/*css слайдер ==========================================*/
.hero__slides {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: -2;
  background: rgb(53, 51, 51);
}
.hero__slides,
.hero__slides::after {
  position: absolute;
  width: 100%;
  height: 800px;
  top: -170px;
  left: 0px;
}

.hero__slides li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: anim_slides 18s linear infinite 0s;
  -moz-animation: anim_slides 18s linear infinite 0s;
  -o-animation: anim_slides 18s linear infinite 0s;
  -ms-animation: anim_slides 18s linear infinite 0s;
  animation: anim_slides 18s linear infinite 0s;
}
.hero__slides li:nth-child(1) {
  background-image: url("../img/img1.jpg");
}
.hero__slides li:nth-child(2) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  background-image: url("../img/img2.jpg");
}
.hero__slides li:nth-child(3) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  background-image: url("../img/img3.jpg");
}
@-webkit-keyframes anim_slides {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
    transform: scale(1.2);
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes anim_slides {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
    transform: scale(1.2);
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}

.hero .container {
  padding-top: 69px;
  padding-bottom: 122px;
  margin-bottom: 80px;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 580px;
  font-style: normal;
  font-weight: bold;
  font-size: 73px;
  line-height: 84px;
  letter-spacing: 3px;
  color: #ffffff;
}

.hero__text {
  max-width: 570px;
  margin-bottom: 90px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.7px;
  color: #ffffff;
}
.hero__btn {
  display: inline-block;
  padding: 23px 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background-color: #9d5cd0;
  border-radius: 100px;
}

/*about ===============================*/
.about .container {
  margin-bottom: 80px;
}
.cap {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}
.about .cap {
  margin-bottom: 18px;
}
.about__text {
  max-width: 1085px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.6px;
  color: #333333;
}

/* gallery ====================================*/

.gallery .container__big {
  margin-bottom: 80px;
  background-image: url("../img/gallery-ground.jpg");
}
.gallery .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.gallery .cap {
  color: #ffffff;
}
.gallery__content {
  display: flex;
}

.gallery__info {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__info span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.gallery__info .select {
  width: 400px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 6px;
}
.gallery__info-text {
  max-width: 380px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
.gallery__pointer {
  margin-bottom: 30px;
}

.gallery__pointer span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
}
.gallery__item {
  margin-right: 50px;
  margin-bottom: 50px;
}
.gallery__item:nth-child(3n) {
  margin-right: 0;
}
.gallery__item:nth-child(n + 4) {
  margin-bottom: 0;
}

/*catalog ====================================================*/
.catalog .container__big {
  margin-bottom: 80px;
}
.catalog__header {
  display: flex;
}
.catalog__header .cap {
  margin-right: 39px;
}
.catalog__header-list {
  display: flex;
}
.catalog__text {
  max-width: 1080px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.catalog__header-item {
  width: 66px;
  height: 66px;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 13px;
  border: 2px solid #7443a4;
  border-radius: 50px;
}

.catalog__catalog {
  display: flex;
}
.catalog__object {
  width: 50%;
}
.catalog__img {
  margin-bottom: 30px;
}
.catalog__name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.catalog__biography {
  max-width: 749px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.catalog__acordeon {
  width: 50%;
}

/*accordeon ===========================================*/
.faq {
  margin-bottom: 102px;
}

.faq__ul {
  margin-top: 37px;
}

.faq__li:first-child {
  border-top: 1px solid #cacaca;
}

.faq__li {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
  transition: border-color 0.3s ease;
}

.faq__question {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1770px;
  padding: 39px 120px 39px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.6px;
  color: #333333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.faq__answer {
  width: calc(1003 / 1770 * 100%);
  padding-top: 0;
  padding-bottom: 40px;
}

.faq__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.faq__li:first-child:hover,
.faq__li:hover,
.faq__li:focus {
  border-color: #ff9900;
}

.faq__head-icon {
  position: absolute;
  top: 50%;
  right: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ececec;
  transform: translateY(-50%);
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
}

.faq__head-icon::before,
.faq__head-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #666666;
  transition: background-color, 0.3s ease;
}

.faq__head-icon::before {
  width: 60%;
  height: 1px;
}

.faq__head-icon::after {
  width: 1px;
  height: 60%;
}

.faq__question:hover,
.faq__question:focus {
  color: #ff9900;
  outline: none;
}

.faq__question:hover .faq__head-icon,
.faq__question:focus .faq__head-icon {
  background-color: #ff9900;
}

.faq__question:hover .faq__head-icon::before,
.faq__question:hover .faq__head-icon::after,
.faq__question:focus .faq__head-icon::before,
.faq__question:focus .faq__head-icon::after {
  background-color: #ffffff;
}

.faq__question.ui-accordion-header-active .faq__head-icon {
  transform: translateY(-50%) rotate(45deg);
}
/*accordeon =======================================*/

/*developments =================================*/
.developments .container {
  margin-bottom: 80px;
}
.developments .cap {
  margin-bottom: 30px;
}
.developments__list {
  display: flex;
}
.developments__card {
  width: calc(500 / 1684 * 100%);
  margin-right: 50px;
  margin-bottom: 67px;
}
.developments__card-bottom {
  padding: 13px 38px 43px 50px;
  min-height: 400px;
  border: 1px solid #cacaca;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.developments__card:nth-child(3n) {
  margin-right: 0;
}
.dewelopments__card span {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999999;
}

.developments__cap {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.developments__position-btn {
  display: flex;
  justify-content: center;
}
.developments__btn {
  padding: 17px 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #9d5cd0;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
}

/*editions ============================================*/

.editions .container__big {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
  background-image: url("../img/editions.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.editions .cap {
  color: #ffffff;
}
/*checkbox ===========================*/
.visually-hidden {
  /* невидимый заголовок*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.editions__categories {
  width: 241px;
  height: 379px;
  margin-bottom: 32px;

  background-color: transparent;
}

.check-title {
  margin-top: 0;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.ch {
  width: 241px;
  margin-bottom: -3px;
}

.label-check {
  max-width: 241px;
  position: relative;
  display: block;
  padding-left: 24px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.input-check + .span-check {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  z-index: 1;
  display: block;
  border: 1px solid #999999;
  border-radius: 3px;
}

.input-check + .span-check:before {
  margin-bottom: 20px;
  content: url("../img/o.svg");
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: -1px;
  z-index: 2;
  opacity: 0;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 10px;
  border: 1px solid #ccb26e;
  border-radius: 3px;
  transition: opacity 0.3s ease-in-out;
}

.input-check:checked + .span-check:before {
  opacity: 1;
}
/*checkbox======================*/

.editions__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.editions__range {
  width: 277px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.editions__content {
  display: flex;
}

.editions__list {
  display: flex;
}

/*projects =================================*/
.projects .container {
  margin-bottom: 80px;
}
.projects .cap {
  margin-bottom: 30px;
}

.projects__text {
  max-width: 1080px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.projects__name {
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.projects__list {
  display: flex;
}
.projects__item {
  margin-right: 50px;
}
.projects__item:nth-child(3n) {
  margin-right: 0;
}

/*contacts ===========================*/

.contacts .cap {
  margin-bottom: 30px;
}
.contacts__content {
  display: flex;
}

/*footer ============================*/
.footer .container__big {
  background-color: #000000;
}
.footer .container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  display: flex;
}
.footer li {
  margin-right: 20.32px;
}
.footer li:last-child {
  margin-right: 0;
}

@media (max-width: 1436px) {
  .header__list {
    justify-content: start;
  }
  .header__item-top {
    width: 88px;
    margin-right: 30px;
  }
  .header__item {
    width: 185px;
    margin-right: 45px;
  }
}

@media (max-width: 1024px) {
  body.look {
    overflow: hidden;
  }

  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
  .header {
    position: fixed; /* фиксированнаЯ шапка, для удобства пользования на мобильном*/
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
  }

  .header__top {
    position: relative;
    z-index: 2;
  }
  .hero {
    margin-top: 150px;
  }
  .header__top .container {
    justify-content: space-between;
  }
  .header__top .header__logo {
    position: relative;

    z-index: 3;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    z-index: 3;
  }

  .header__burger span {
    background-color: #ffffff;
    position: absolute;
    width: 28.2px;
    height: 3.65px;
    left: 0;
    top: 12px;
    transition: all 0.3s ease-in;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3.65px;
    left: 0;
    transition: all 0.3s ease-in;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
    width: 24px;
  }
  .header__burger.active::before {
    top: 12px;
    transform: rotate(45deg);
  }
  .header__burger.active::after {
    width: 100%;
    bottom: 12px;
    transform: rotate(-45deg);
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__top .header__logo {
    margin-right: 45px;
  }

  .header__top .header__logo img {
    width: 250px;
    height: 43px;
  }
  .header__nav {
    display: block;
    position: fixed;
    top: 0;
    z-index: -1;
    overflow: auto;
    left: -100%;
    width: 33%;
    height: 50%;
    padding: 100px 30px 30px 30px;
    background-color: #000000;
    transition: all 0.5s ease-in;
  }
  .header__nav.active {
    left: 0;
  }
  .header__list-top {
    display: block;
  }
  .header__item-top {
    margin-bottom: 20px;
  }
  .header__bottom {
    display: none;
  }

  .header__form-nav {
    margin-left: 30px;
  }
  .header__top .header__search {
    display: block;
    position: relative;
  }
  .header__top .header__search-btn {
    display: block;
    top: -3px;
  }
  .header__top .header__search-btn:hover {
    cursor: pointer;
  }
  .header__top .header__search-btn svg {
    width: 29.45px;
    height: 28.82px;
  }
  .header__top .header__search-text {
    display: none;
  }
  .header__top .header__search-text.open {
    display: block;
    position: absolute;
    right: 30px;
    background-color: #000000;
    z-index: 3;
  }
  /*фoрма входа*/
  #container {
    top: -231px;
    right: -20px;
  }
  #forgotten-container {
    top: -160px;
    right: -20px;
  }

  /*hero1024=======*/
  .hero__slides,
  .hero__slides::after {
    height: 790px;
  }
  .hero__slides li:nth-child(1) {
    background-image: url("../img/img1_1024.jpg");
  }

  .hero__slides li:nth-child(2) {
    background-image: url("../img/img2_1024.jpg");
  }
  .hero__slides li:nth-child(3) {
    background-image: url("../img/img3_1024.jpg");
  }

  .hero .container {
    padding-top: 64px;
    padding-bottom: 116px;
  }
  .hero__title {
    margin-bottom: 11px;
  }
  .hero__text {
    max-width: 750px;
    margin-bottom: 130px;
  }
}
@media (max-width: 768px) {
  .header__top .container {
    padding-bottom: 26px;
  }
  .header__nav {
    width: 50%;
  }
  .hero__slides li:nth-child(1) {
    background-image: url("../img/img1_768.jpg");
  }
  .hero__slides li:nth-child(2) {
    background-image: url("../img/img2-768.jpg");
  }
  .hero__slides li:nth-child(3) {
    background-image: url("../img/img3-768.jpg");
  }
}
@media (min-width: 300px) and (max-width: 632px) {
  .container {
    max-width: 520px;
    padding: 0 10px;
  }
  .header__top .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__burger {
    margin-left: 5px;
    width: 25px;
    height: 18px;
  }
  .header__burger span {
    background-color: #ffffff;
    position: absolute;
    width: 16.2px;
    height: 2px;
    left: 0;
    top: 8px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
    width: 10px;
  }
  .header__top .header__logo {
    flex: 0 0 96px;
    margin-right: 30px;

    overflow: hidden;
  }
  .header__top .header__logo img {
    width: 96.8px;
    height: 21.67px;
  }
  .header__top .header__search-btn svg {
    width: 18px;
    height: 18px;
  }
  .header__burger.active::before {
    top: 8px;
  }
  .header__burger.active::after {
    width: 100%;
    bottom: 8px;
  }
  .header__top .header__search-btn {
    display: block;
    top: 2px;
    left: -23px;
  }
  /*hero 320 ===========================*/
  .hero__slides,
  .hero__slides::after {
    height: 455px;
  }
  .hero__slides li:nth-child(1) {
    background-image: url("../img/img1-320.jpg");
  }
  .hero__slides li:nth-child(2) {
    background-image: url("../img/img2-320.jpg");
  }
  .hero__slides li:nth-child(3) {
    background-image: url("../img/img3-320.jpg");
  }
  .hero {
    margin-top: 70px;
  }
  .hero .container {
    margin-bottom: 50px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
  }
  .hero__title {
    max-width: 500px;
    padding: 0 20px;

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align: center;
  }
  .hero__text {
    padding: 0 18px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .hero__btn {
    padding: 11px 22px 14px 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }
  .cap {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
  }
  .about .cap {
    margin-bottom: 13px;
  }
  .about__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.8px;
  }
}
